@font-face {
    font-family: 'IRANYekanWeb';
    src: url('../fonts/IRANYekanWeb.eot');
    src: url('../fonts/IRANYekanWeb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IRANYekanWeb.woff2') format('woff2'),
    url('../fonts/IRANYekanWeb.woff') format('woff'),
    url('../fonts/IRANYekanWeb.ttf') format('truetype'),
    url('../fonts/IRANYekanWeb.svg#IRANYekanWeb') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: "IRANYekanWeb",sans-serif;
    direction: rtl;
}
p{
    font-size: 1rem;
}

.hidden{
    display: none!important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
a{
    text-decoration: none;
}
.container-sm {
    max-width: 1000px!important;
}

.select2-container .select2-search--inline .select2-search__field{
    height: 28px!important;
}
.textarea{
    font-family: "IRANYekanWeb",sans-serif!important;
    direction: rtl;
}
ul {
    list-style-type: none;
}
li{
    font-size: 12px;
   margin: 5px 0;
}
